/* Imports */
@import url(https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900|Droid+Sans:400,700);

/* Flex */
.column-3 {
  width: 32%;
}

.column-2 {
  position: relative;
  width: 49%;
  min-width: 300px;

}

.column-2 div, .column {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  margin: 10px;
}
.content {
  justify-content:space-between;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;

}
.column {
flex-direction: row;
justify-content:space-between;
display: flex;
flex-wrap: wrap;}


/* General Styles */
body {
  background: #1F222B;
  color: #ffffff;
  font-family: "Droid Sans", sans-serif;
  background: url("assets/background.png") no-repeat fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  font-family: "Orbitron", sans-serif;
  font-style: italic;
  text-align: center;
  color: #000000;
  text-shadow: 0 0 3px #1AD9DB;
  font-size: 50px;
}

h2 {
  font-family: "Orbitron", sans-serif;
  color: #14CBDB;
  background: #000000;
  padding: 10px;
  margin: 0;
}

ul li {
  padding: 5px;
}

/* Content */
.highlight {
  margin: 0;
  display: block;
  text-align: center;
  padding: 20px 5%;
  border: 1px solid #14CBDB;
  color: #ababab;
  background: rgba(0, 0, 0, 0.5);
}

#odysseys {
  font-size: 100px;
  display: block;
  color: #14CBDB;
}

.deal {
  font-size: 20px;
  line-height: 40px;
  font-style: italic;}

img {width: 100%;}

/* Media Queries */

@media screen and (max-width:685px) {
  .column-2 {
    width: 100%;
    margin: 0!important;
  }
  .column-3 {width: 100%;}

}

@media screen and (min-width:601px) and (max-width:900px) {
  #odysseys {
    font-size: 70px;
  }
}
